.etage_0
{
  background-color:rgb(128,208,155);
}

.etage_1
{
  
  background-color:rgb(191,255,191);  
}

.etage_2
{
  background-color:rgb(255,174,128);
}

.etage_3
{
  background-color:rgb(230,204,255);
}